a {
    font-weight: 700;
    color: rgba(236, 148, 65, 0.972);
}

body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    width: 90%;
    margin: 60px auto 25px auto;
    text-align: left;
}

header {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 350px;
    background-image: url("../../img/bg.jpg");
    background-position: center bottom;
}

header h1 {
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-shadow: #000 3px 3px 3px;
    margin: 0;
}

header h2 {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    text-shadow: #000 3px 3px 3px;
    margin: 0;
}

header img {
    border-radius: 50%;
    width: 100px;
    border: 2px solid #fff;
}

header section {
    padding-top: 50px;
}

main {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

main article {
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
main article h3::first-letter {
    font-size: 42px;
}

main article h3 {
    font-weight: 700;
}

main article p {
    font-weight: 400;
}

.anchor--header {
    text-decoration: none;
    display: block;
}

.img {
    max-width: 90%;
    height: auto;    
}

@media (min-width: 680px){
    footer {
        width: 75%;
        margin: 60px auto 25px auto;
        text-align: left;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
    main article {
        width: 75%;
    }
    header h2 {
        font-size: 22px;
    }    
}

@media (min-width: 1090px){
    footer {
        width: 55%;
        margin: 60px auto 25px auto;
        text-align: left;
    }
    main article {
        width: 55%;
    }   
    
    .img {
        height: auto;
        max-width: 80%;    
    }
}

@media (min-width: 1680px){
    footer {
        width: 768px;
        margin: 60px auto 25px auto;
        text-align: left;
    }
    main article {
        width: 768px;
    }    
}